<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quiénes somos?</title>
    <link rel="icon" type="image/x-icon" href="../assets/imgMyH/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilosGenerales.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/about.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
</head>

<body>
    <header>
        <div class="containerHeader">
            <h1>Manteca & Harina</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="./about.html">Acerca de</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contact.html">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./upload.html">Subir imágenes</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="backHeader"></div>
    </header>
    <main>
        <div class="containerAbout">
            <div class="fotoPerfil"></div>
            <section>
                <p>
                    ❤ ¿Saben por qué elegí esta foto? Porque a todos los
                    pasteleros 👩‍🍳 nos pasa que tenemos una receta que nos sale genial 😉 pero
                    también tenemos otras que nos vuelven locas🙈... saben cuál era la mía en
                    mis inicios? Sii ese bizcochuelo que ven ahí, más conocido como
                    #genoise... esta receta no me salía, solo mi mamá sabe la cantidad de
                    huevos que tiré!!! Todos los errores que pueden pasarte con esta receta, a
                    mi me pasaron! Si todos jajaja hasta que un día "habemus genoise"! pero
                    saben cuál fue el principal error? Que los huevos eran extra grandes
                    🥚entonces claro la receta no era exacta... lo que habré llorado 😭 y
                    enojado mucho 😡con este bizcochuelo, era sacarlo del horno y... tirarlo
                    🤦🏻‍♀️.</p>
                <p>Detrás de todo pastelero👩‍🍳 hay horas de trabajo👩‍🍳, horas de dedicación🧐, horas de práctica😅,
                    horas sin dormir😴, horas y más horas
                    decorando con mucho amor❤!</p>
                <p>Muchísimas gracias a todos los que elijen @mantecayharina y por sus tan lindas palabras siempre! ❤
                </p>
            </section>
        </div>
    </main>
    <footer>
        <h3>Seguinos en nuestras redes</h2>
            <div class="redes">
                <a class="redSocial1" href="https://www.instagram.com/mantecayharina/"
                    title="Mirá nuestras publicaciones de Instagram" target="_blank">Instagram</a>
                <a class="redSocial2" href="https://www.facebook.com/www.mantecayharina.com.ar"
                    title="Mirá nuestras publicaciones de Facebook" target="_blank">Facebook</a>
            </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</body>

</html>