<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilosGenerales.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/contacto.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
</head>

<body>
    <header>
        <h1>Manteca & Harina</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">Contact</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="./upload.html">Subir imágenes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="containerContacto">
            <h2>Contacto</h2>
            <div class="texto">
                <p>🍰Productos personalizados, hechos para vos 🧡!</p>
                <p>🍫Contame tu idea y te ayudo a que se haga realidad!</p>
                <ul>
                    <li>🎂Tortas temáticas</li>
                    <li>🍩Desayunos</li>
                    <li>🍪Hacemos envíos!</li>
                </ul>
                <p>
                    Para realizar una consulta o pedido, utilizá el medio de contacto que
                    mejor te resulte
                </p>
            </div>
            <div class="mediosContacto">
                <a class="logoRedes1" target="_blank"
                    href="https://wa.me/541130383868"
                    title="Envianos tu consulta por Whatsapp">Whatsapp</a>
                <a class="logoRedes2" target="_blank" href="https://www.instagram.com/mantecayharina/"
                    title="Mirá nuestras publicaciones de Instagram">Instagram</a>
                <a class="logoRedes3" target="_blank" href="https://www.facebook.com/www.mantecayharina.com.ar"
                    title="Mirá nuestras publicaciones de Facebook">Facebook</a>
            </div>
        </div>
    </main>
    <footer>
        <h3>Seguinos en nuestras redes</h2>
            <div class="redes">
                <a class="redSocial1" href="https://www.instagram.com/mantecayharina/"
                    title="Mirá nuestras publicaciones de Instagram" target="_blank">Instagram</a>
                <a class="redSocial2" href="https://www.facebook.com/www.mantecayharina.com.ar"
                    title="Mirá nuestras publicaciones de Facebook" target="_blank">Facebook</a>
            </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</body>

</html>