<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario logueado</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img id="imgLogo" src="assets/imgMyH/perfil.jpg" alt="Foto del logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Temáticas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="./galleryBautismo.html">Bautismo</a></li>
                                <li><a class="dropdown-item" href="./galleryNavidad.html">Navidad - fin de año</a></li>
                                <li><a class="dropdown-item" href="./galleryCobraKai.html">Cobra Kai</a></li>
                                <li><a class="dropdown-item" href="./galleryEquipos.html">Equipos de fútbol</a></li>
                                <li><a class="dropdown-item" href="./galleryPascuas.html">Pascuas</a></li>
                                <li><a class="dropdown-item" href="./galleryPotter.html">Harry Potter</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./upload.html">Subir imágenes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p>Usuario correcto</p>
    <button class="btn"><a href="./upload.html">Pasar a subir imágenes</a></button>

</body>

</html>