.containerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
}

.fotoPerfil {
  width: 50%;
  height: 200px;
  background: aliceblue url("../imgMyH/cv.jpg") no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: -8px 1px 2px 2px #ff6701;
  margin-bottom: 20px;
}

.containerAbout section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: medium solid #ff6701;
  box-shadow: 3px 3px 10px grey;
}

.containerAbout section p {
  padding: 10px;
  text-align: justify;
}

@media (min-width: 540px) {
  .fotoPerfil {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .fotoPerfil {
    width: 23%;
  }
  .containerAbout section {
    width: 75%;
  }
  .containerAbout section p{
    padding-top: 20px;
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .fotoPerfil {
    height: 250px;
    width: 20%;
  }
  .containerAbout section {
    width: 60%;
  }
  .containerAbout section p {
    font-size: 20px;
  }
}
