header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f9fafb;
  padding: 15px 10px;
}

h1 {
  /* color: rgb(190, 83, 56); */
  color: #FF6701;
  font-size: 26px;
}

h1::before {
  content: "";
  background: aliceblue url("../imgMyH/logo.jpg") no-repeat;
  background-size: cover;
  border-radius: 50%;
  padding: 8px 23.5px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 45px;
  }
  h1::before {
    padding: 10px 40px;
  }
}

@media (min-width: 1024px) {
  header {
    flex-direction: column;
    padding: 20px 10px 0px;
  }
  h1{
    padding-bottom: 5px;
  }
  .navbar-expand-lg{
    font-size: 25px;
  }
}
