@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
header {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  padding: 15px 0;  
}

.containerHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backHeader{
  background: #f9fafb url("../imgMyH/imgHeader.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}

h1 {
  /* color: rgb(190, 83, 56); */
  color: #FF6701;
  font-size: 28px;
  font-family: 'Euphoria Script', cursive;
  font-weight: 600;
}

h1::before {
  content: "";
  background: aliceblue url("../imgMyH/logo.jpg") no-repeat;
  background-size: cover;
  border-radius: 50%;
  padding: 8px 23.5px;
}

.navbar-toggler-icon {
  width: 0.8em;
  height: 0.8em;
}

@media (min-width: 375px) {
  h1 {
    font-size: 34px;
  }
  h1::before {
    padding: 8px 26px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 45px;
    padding-top: 10px;
  }
  h1::before {
    padding: 20px 45px;
  }
  .navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
  }  
  .backHeader{
    height: 300px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 20px 10px 0px;
  }
  h1{
    font-size: 50px;
    padding-bottom: 5px;
  }
  .nav-item {
    font-size: 22px;
  }
}
