/* Main */
.container {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  border-bottom: medium solid #ff6701;
  margin: 0 10px 20px;
}

.container h2 {
  text-shadow: 4px 4px 8px grey;
  font-size: 26px;
}

.small_img {
  height: 250px;
  padding: 10px 0;
  transition: 0.5s;
}

.small_img:hover {
  box-shadow: 4px 4px 8px grey;
  cursor: pointer;
}

.container section p {
  text-align: center;
  font-size: 16px;
}

@media (min-width: 375px) {
  .container h2 {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container h2 {
    text-shadow: 4px 4px 8px grey;
    font-size: 30px;
  }
  section {
    width: 47%;
  }
}

@media (min-width: 1024px) {
  section {
    width: 30%;
  }
}
