.containerInicioSesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0;
}

h2 {
  font-size: 36px;
  text-shadow: 4px 4px 8px grey;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  border: 2px solid rgb(190, 83, 56);
  border-radius: 10px;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

label,
button {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 15px;
  margin-bottom: 10px;
  color: white;
}

label {
  background-color: rgb(254 138 70);
}

input,
textarea {
  border: 1px solid;
  border-radius: 5px;
}

button {
  background-color: #0000ffb0;
}
