.containerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

h2 {
  font-size: 36px;
  text-shadow: 4px 4px 8px grey;
  padding-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  /* border: 2px solid rgb(190, 83, 56); */
  border: 2px solid #ff6701;
  border-radius: 10px;
  font-size: 14px;
  width: 80%;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

label,
.btnLogin {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 15px;
  margin-bottom: 10px;
  color: white;
}

label {
  /* background-color: rgb(254 138 70); */
  background-color: #ff6701;
}

input {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;
}

.containerLogin ul {
  padding-left: 0;
}

.btnLogin {
  margin: 1px 0;
  font-size: 14px;
  background-color: blue;
}

@media (min-width: 540px) {
  .containerLogin ul {
    max-width: 60%;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
  form {
    font-size: 18px;
    padding: 20px 0;
    width: 60%;
  }
  .btnLogin {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  form {
    font-size: 20px;
    padding: 70px 0;
  }
  .btnLogin {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  form {
    font-size: 24px;
    padding: 100px 0;
  }
}
