main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.skeleton-animation {
  animation: loadingAnimation 1.5s infinite;
}
.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20px;
  border: medium solid #ff6701;
  box-shadow: 3px 3px 10px grey;
  margin: 10px;
}

.skeleton h2 {
  padding: 15px;
  width: 70%;
  border-radius: 10px;
}

.imgSkeleton {
  width: 90%;
  height: 250px;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 10px;
}

.skeleton p {
  padding: 30px;
  width: 70%;
  border-radius: 10px;
}

@keyframes loadingAnimation {
  0% {
    background: radial-gradient(#ffe194, #ffb319);
  }
  50% {
    background: radial-gradient(#ffb319, #ffe194);
  }
  100% {
    background: radial-gradient(#ffe194, #ffb319);
  }
}

@media (min-width: 540px) {
  .skeleton {
    width: 65%;
  }
}

@media (min-width: 768px) {
  .skeleton-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .skeleton{
    width: 47%;
  }
}

@media (min-width: 1024px) {
  .skeleton {
    width: 30%;
  }
}