/* Slideshow container */
.gallery-container {
  display: none;
  flex-direction: column;
  padding: 85px 50px;
}

/* Hide the images by default */
.mySlides {
  width: 100%;
  display: none;
}

.gallery-container h2 {
  text-shadow: 4px 4px 8px grey;
  font-size: 28px;
  padding-bottom: 10px;
  text-align: center;
}

.btnGallery {
  display: flex;
  justify-content: space-around;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  text-align: center;
}

.dotContainer{
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.gallery-container .active,
.dot:hover {
  background-color: #4d4d4d;
}

/* Fading animation */
.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 540px) {
  .gallery-container h2 {
    font-size: 32px;
  }
  .gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mySlides {
    width: 70%;
}
}

@media (min-width: 768px) {
  .gallery-container h2 {
    font-size: 36px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mySlides {
    width: 60%;
  }
  .text{
    font-size: 26px;
  }
  .dotContainer{
    padding-top: 20px;
  }
}

@media (min-width: 1024px) {
  .gallery-container h2 {
    font-size: 34px;
  }
  .btnGallery {
    justify-content: space-evenly;
  }
  .mySlides {
    width: 40%;
  }
  .dotContainer{
    padding-top: 50px;
  }
}
